<div class="weatherWidget">
  {{#each partials.weather.locations}}
  <div class="location">
    <h3>{{name}}</h3>
    <a href="{{forecastUrl}}">
<<<<<<< HEAD
    <img src="{{iconUrl}}" alt="{{weather}}">
  </a>
  </div>
  {{/each}}
  <small>source: <a href="http://www.wunderground.com">Weather Underground</a> </small>
=======
      <img src="{{iconUrl}}" alt="{{weather}}">
      {{weather}}, {{temp}}
    </a>

  </div>
  {{/each}}
  <small>Source: <a href="http://www.wunderground.com">Weather Underground</a></small>
>>>>>>> refs/remotes/origin/master
</div>
